/* color pallet */
:root {
  --dark_brown:#6b4f35;
  --brown:#7a593a;
  --dark_blue:#6caec4; 
  --blue:#81d3ef;
  --yellow:#ffe000;
}
/* end color pallet */


/* miscellaneous */
.width100{
  width: 100%;
}

.marginMiddle{ /* not utilized */
  margin-left: auto;
  margin-right: auto;
}

.baseCampBackground{
  background-image: url(images/baseCamp_building_snipped.jpg);
  overflow: hidden;
}

.background{
  background-image: url(images/lighter_brown_background.jpg);
}

.border-brown {
  border-color: var(--brown) !important;
}

.border-blue{
  border-color: var(--blue) !important;
}

.chonk-font{
  font-size: x-large;
}

.text-blue{
  color:var(--blue) !important;
}

.text-brown{
  color:var(--brown) !important;
}

.blue-shadow{
  text-shadow: .06em .02em var(--dark_blue) !important;
}

.brown-shadow{
  text-shadow: .06em .02em var(--dark_brown) !important;
}

.blue-box-shadow{
  box-shadow: 5px 5px 2px 1px rgba(129, 211, 239);
}

.background-brown{
  background-color: var(--brown) !important;
}

.background-blue{
  background-color: var(--blue) !important;
}

.background-dark-blue{
  background-color: var(--dark_blue) !important;
}
/* end miscellaneous */

/* all */
body,html{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* end all */

/* footer stuff */
.footerElements{
  text-decoration: none;
  color: var(--brown);
  margin-left: .5em;
  margin-right: .5em;
}

.footerElements:hover{
  text-decoration: underline;
}
/* end footer */

/* profile */

.left_element{
  max-width: 400px !important;
  margin-left: -8px !important;
}

.right_element{
  max-width: 400px !important;
  margin-right: -8px !important;
}

.overflow {
  max-height: 200px; /* Adjust the max height as needed */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.overflow::-webkit-scrollbar {
  width: 0.05em; /* For Chrome and Safari */
}

.overflow::-webkit-scrollbar-thumb {
  background-color: transparent; /* For Chrome and Safari */
}

@media only screen and (max-width: 600px) {
.left_element,.right_element{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 10px !important;
}
}

