
{% extends "base.html" %}
{% load static %}
{% block content %}


    {% comment %} sidebar {% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block background-brown sidebar">
                <!-- Sidebar content goes here -->
                {% comment %} tab panels or list groups {% endcomment %}
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <br>

            {% for i in bugReports %}
                <div class="card border-blue boarderMed blue-box-shadow">
                    <div class="card-title">
                        <h1 class="mx-auto card-title row d-flex justify-content-center mt-3">
                            {{ i.title }}
                            <hr class='invisHr'>
                            <span class="maxWidthBoxSmall med-font badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                                <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/mdo.png" alt="">By: {{account.user.username}}
                            </span>              {% comment %} filler untill models r finalized!!!!!!! {% endcomment %}
                        </h1>
                    </div>
                    <div class='card-body'>
                        <p class="card-text">{{ i.content }}</p>
                        <button class="btn btn-link linkStripper" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMessages{{ forloop.counter }}">View responses </button>
            
                        <!-- Comment button triggering the form -->
                        <button class="btn btn-link linkStripper" type="button" data-bs-toggle="modal" data-bs-target="#commentModal{{ forloop.counter }}">Comment </button>
            
                        {% comment %} Collapsible content {% endcomment %}
                        <div class="collapse" id="collapseMessages{{ forloop.counter }}">
                            <div class="">
                                {% for msg in i.messages %}
                                    <div class='upVoteDiv'>
                                        <p>{{ msg }}</p>
                                        <button class='btn btn-sm bg-transparent border-0 upVoteIcon bi bi-arrow-up-circle' onclick="toggleIcon(this)"></button>
                                    </div>                                   
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Comment workflow -->
                <div class="modal fade" id="commentModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-transparent border-0">
                            <form class='bg-transparent' method="post" action="">
                                {% csrf_token %}
                                <div class="mb-3 bg-transparent">
                                    <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            
                <br>
            {% endfor %}
            

            {% comment %} continue side bar {% endcomment %}
            </main>
        </div>
    </div>

{% endblock content %}