

{% extends "base.html" %}
{% block content %}

    <div class='text-center'>
        <h1 class='text-blue brown-shadow'> Welcome back, {{request.user}}.</h1>
    </div>

    <br>

    <div class='d-flex justify-content-center align-content-center'>
        <img src="{{ details.profile_pic.url }}" alt="Profile Picture" class='img-fluid rounded-circle w-25 h-25'>
    </div>

    <br>
    <br>
    <br>
    <br>
    
    <div class='d-flex justify-content-center'>
        <div class='center row w-75'>
            <div class="container min-width-50 left_element" style="justify-content-between;">
                <div class="card background-blue">
                    <div class="card-header text-brown blue-shadow chonk-font">
                        Notifications
                    </div>
                    <ul class="list-group list-group-flush overflow">
                        {% for notification in notifications %}
                            <li class="list-group-item border-0">{{ notification }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container min-width-50 right_element" style="justify-content-between;">
                <div class="card background-blue">
                    <div class="card-header text-brown blue-shadow chonk-font">
                        Code coins earned this week
                    </div>
                    <ul class="list-group list-group-flush overflow">
                        {% for awarde in awardeList %}
                            <li class="list-group-item border-0">{{ awarde }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="center text-center">
        <h3 class='text-blue brown-shadow chonk-font'>Monthly Bugs Fixed by You</h3>
        <div class="w-50 h-50 mx-auto">
            <canvas id="bugFixChart" width="400" height="200"></canvas>
        </div>
    </div>
    
    <script>
        var ctx = document.getElementById('bugFixChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Monthly Data',
                    data: [{% for tokenMonth in totalTokenList %}{{ tokenMonth }},{% endfor %}],
                    backgroundColor: 'rgba(108, 174, 196, 0.2)', // Area under the line color
                    borderColor: '#81d3ef', // Line color
                    borderWidth: 5, // Line thickness
                    pointRadius: 0, // Removes dots
                    fill: true // Fill the area under the line
                }]
            },
            options: {
                scales: {
                    x: [{
                        type: 'linear',
                        position: 'bottom',
                        grid: {
                            lineWidth: 100 // Adjust gridline thickness on x-axis
                        }
                    }],
                    y: [{
                        ticks: {
                            stepSize: 10,
                            max: 50,
                            min: 0
                        },
                        grid: {
                            lineWidth: 100 // Adjust gridline thickness on y-axis
                        }
                    }]
                }
            }
        });
    </script>
          
    
    <br>

    <div class="col-md-12 container w-75">
        <div class="card background-blue">
            <div class="card-header text-brown blue-shadow chonk-font">
                Your Bug Reports
            </div>
            <ul class="list-group list-group-flush overflow">
                {% for bugReport in userBugReports %}
                    <li class="list-group-item border-0">{{ bugReport }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br>
    
    
{% endblock content %}